@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Customers", "Customers")
        <br /><br />
        @Html.ActionLink("Customer 1", "Customer", new { id = 1 })
    </div>
</body>
</html>
